---
import './base.css'

import '@fontsource/ibm-plex-sans/400.css'
import '@fontsource/ibm-plex-sans/700.css'
import '@fontsource/ibm-plex-serif/400.css'
import '@fontsource/ibm-plex-serif/600.css'
import '@fontsource/iosevka/400.css'
import '@fontsource/iosevka/700.css'

import { getEntry } from 'astro:content'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const {
  data: { name },
} = await getEntry('authors', 'kevin')
const { title, description, image, kind } = Astro.props

const canonicalUrl = new URL(Astro.url.pathname, Astro.site)
const ogImage = image ? image : new URL('/pixel-art-kevin-db.png', Astro.site)
const ogType = kind ? kind : 'website'
---

<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={name} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link href={canonicalUrl} rel="canonical" />

    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:type" content={ogType} />
    <meta name="og:image" content={ogImage} />
    <meta name="og:image:alt" content="" />
    <meta name="og:url" content={canonicalUrl} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content={name} />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="font-sans bg-purple-50 text-zinc-900 leading-relaxed">
    <Header />
    <main class="container w-full mx-auto my-12 px-8 max-w-4xl">
      <slot />
    </main>
    <Footer />
  </body>
</html>
